.blogGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
  grid-area: posts;
  border-radius: 0.5em;
  gap: 15px;
  font-family: "Courier New", Courier, monospace;
  background: transparent;
}
.gridItem {
  display: grid;
  border: seashell 2px solid;
  grid-template-areas:
    "date"
    "title"
    "subtext";
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 600;
  border-radius: 0.5em;
  text-align: center;
}

.gridItem:hover {
  background-color: thistle;
}
#gridItemDate {
  display: flex;
  font-size: medium;
  font-weight: 300;
  grid-area: date;
  border: transparent;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#gridItemTitle {
  display: flex;
  font-size: large;
  font-weight: 600;
  grid-area: title;
  border: transparent;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#gridItemSubtext {
  display: flex;
  font-size: small;
  font-weight: 300;
  grid-area: subtext;
  border: transparent;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
}

figcaption {
  text-decoration: underline whitesmoke;
  display: flex;
  background-color: transparent;
  color: navajowhite;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 630px) {
  .blogGrid {
    display: block;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    grid-area: posts;
    border-radius: 0.5em;
    font-family: "Courier New", Courier, monospace;
    background: transparent;
  }
  .gridItem {
    display: grid;
    border: seashell 2px solid;
    grid-template-areas:
      "date"
      "title"
      "subtext";
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    border-radius: 0.5em;
    text-align: center;
    margin: 2px;
  }
}
